# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log
.env

# Flask specific
instance/
*.pot
*.mo
*.pyc

# Virtual environment
venv/
env/
ENV/
.venv/

# IDEs and editors
.vscode/
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Python environment config
Pipfile.lock
venv/
